attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
idna==2.9
importlib-metadata==1.6.1
joblib==0.14.1
lxml==4.5.1
more-itertools==8.3.0
numpy==1.18.5
packaging==20.4
pandas==0.25.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.15.0
sklearn-pandas==1.8.0
soupsieve==2.0.1
urllib3==1.25.9
wcwidth==0.2.4
zipp==1.2.0
